{% extends 'base.html.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{{ asset('css/colorbox.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ asset('css/cookiecuttr.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ asset('css/css.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ asset('css/select2.css') }}">
{% endblock %}

{% block body %}
<!--SOUS MENU-->
<main role="main" class="main">
<div class="action-messagerie">
      <ul class="content-wrap">
        <li class="message-new"><a href="{{ path('messagerie_form')}}">Nouveau message</a></li>
        <a href="{{ path('messagerie_recu')}}">Boite de réception </a> <a href="{{ path('messagerie_envoye')}}">Messages envoyés</a>
      </ul>
    </div>
<!--FIN SOUS MENU-->

<form action="{{ path('messagerie_envoiMail') }}" method="post">
	 <fieldset class="form-wrap">
		<h2>Nouveau message</h2><br>
		<div class="form-block">
			<label class="required">Destinataire</label>
			<select name="destinataire" required="required" class="form-control graphic-select select2-accessible" tabindex="-1" aria-hidden="true">
			<option value="" selected="selected">Sélectionner un destinataire</option>
				{% for user in users %}
						<option value={{ user.id }}>{{ user.username }}</option>
				{% endfor %}
			</select>
		</div>
		
		<div class="form-block">
            <label class="required">Objet</label>
            <input type="text" id="project_appli_message_object" name="sujet" required="required" class="form-control" placeholder="Titre du message">
        </div>
		<div class="form-block">
            <label class="required">Message</label>
            <textarea id="project_appli_message_content" name="corps" required="required" class="form-control" placeholder="Contenu du message"></textarea>
        </div>
		
		
		
	
	 <p class="action main-action"><input type="submit" name="submit" id="submit" value="Envoyer" class="round-btn form-btn"></p>
		</fieldset>

</form>

{% endblock %}
