{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.7.1/fullcalendar.min.css">
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.7.1/fullcalendar.print.css ">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.7.1/lang/fr.js ">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/agenda.css') }}">
{% endblock %}


{% block title %}
    Agenda
{% endblock %}

{% block body %}
    <div class="col-md-12">
        <h1>Mon agenda</h1>
    </div>

    {% for evenement in evenements %}
        {{evenement.titre}} {{evenement.date | date('Y-m-d')}} {{evenement.description}} <br/><br/>
    {% endfor %}

    <div id="calendar"></div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.7.1/fullcalendar.js"></script>
    

    <script type="text/javascript">
        $(document).ready(function() {

            // page is now ready, initialize the calendar...

            $('#calendar').fullCalendar({
                lang: 'fr',
                header:
                {
                    left:   'prev,next,today',
                    center: 'title',
                    right:  'month,agendaWeek,agendaDay'
                },
                events: [
                    {% for evenement in evenements %}
                        {
                            title: '{{evenement.titre}}',
                            start: new Date({{evenement.date | date('Y')}}, {{evenement.date | date('m')}}-1, {{evenement.date | date('d')}})
                        },
                    {% endfor %}
                ]
            });
            // $('#calendar').fullCalendar('next');

        });
    </script>
{% endblock %}