{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.7.1/fullcalendar.min.css">
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.7.1/fullcalendar.print.css ">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.7.1/lang/fr.js ">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/agenda.css') }}">
{% endblock %}


{% block title %}
    Agenda
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Mon agenda</h1>
        

        <a href="{{ path('agenda_add') }}">
            <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="right" title="Ajouter un évenement">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </a>
        {{message}}

        <div id="calendar"></div>
    </div>

    {% for evenement in evenements %}
        {{evenement.id}}
        <div class="modal fade" id="{{evenement.id}}" tabindex="-1" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{evenement.titre}}</h4>
              </div>
              <div class="modal-body">
                <p>{{evenement.description}}</p>
              </div>
              <div class="modal-footer">
                {% if app.user and not is_granted("ROLE_ADMIN") %}
                    <a href="{{ path('agenda_add_conseiller', {'id': evenement.id}) }}">
                        <button type="button" class="btn btn-warning" data-toggle="tooltip" data-placement="left" title="Inviter votre conseiller">
                            <span class="glyphicon glyphicon-user"></span>
                        </button>
                    </a>

                {% elseif app.user and is_granted("ROLE_ADMIN") %}
                    <a href="{{ path('agenda_add') }}">
                        <button type="button" class="btn btn-warning" data-toggle="tooltip" data-placement="left" title="Inviter un utilisateur">
                            <span class="glyphicon glyphicon-user"></span>
                        </button>
                    </a>
                {% endif %}
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                {# <button type="button" class="btn btn-primary">Save changes</button> #}
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    {% endfor %}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.7.1/fullcalendar.js"></script>
    

    <script type="text/javascript">
        $(document).ready(function() {

            $('#calendar').fullCalendar({
                lang: 'fr',
                header:
                {
                    left:   'prev,next,today',
                    center: 'title',
                    right:  'month,agendaWeek,agendaDay'
                },
                eventAfterRender:function( event, element, view ) {
                    $(element).attr("data-target","#"+event._id);
                    $(element).attr("data-toggle", "modal");
                },
                
            });

            {% for evenement in evenements %}
                var event = {id: {{evenement.id}}, title:'{{evenement.titre}}', start: new Date({{evenement.date | date('Y')}}, {{evenement.date | date('m')}}-1, {{evenement.date | date('d')}})};

                $('#calendar').fullCalendar('renderEvent', event, true);

            {% endfor %}

        });

        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        })

    </script>


{% endblock %}