{% extends "base.html.twig" %}

{% block title %}FAQ{% endblock %}


{% block body %}

	<div class="row" style="background-color:#4B7391">
			<div align="center">
									</br>
			 <FONT color="white">
					<h2>FAQ</h2>
				 </FONT>
				</br></br>
			</div>
     </div>

	 
	
	
	{% if is_granted("ROLE_SUPER_ADMIN") %}

	<p align="center"><b>Administration de la FAQ</b></p>
	
	</br>
	
	<a href="{{ path('add_question') }}" class="btn btn-block btn-success"><span class="glyphicon glyphicon-plus"></span> Ajouter une Question </a>

	{% endif %}
	</br>
	{% if Questions %}
			
			<div class="row well">
			
			<table>
			{% for Q in Questions %}				
					<tr>
						<td><h3>{{ Q.Title }}</h3></td>
					</tr>
					<tr>
						<td>{{ Q.Content }} &nbsp; </td
					
				{% if is_granted("ROLE_SUPER_ADMIN") %}

						<td><a href="{{ path('delete_question', { 'id': Q.id }) }}"> Supprimer &nbsp; </a> </td>
						<td><a href="{{ path('modify_question', { 'id': Q.id }) }}"> Modifer  &nbsp;</a> </td
				{% endif %}
					</tr>
					
 			
			{% endfor %}
			</table>
			</div>

 
 		{% else %}
		</br>
			<p> Désolé il semble que la FAQ ne contienne pas de Questions !  </p>
 
 		{% endif %}
 
 {% endblock %}	