{% extends 'base.html.twig' %}

{% block body %}

	<table>
		<thead>
			<th>Rubrique</th>
			<th>Document</th>
			<th>Description</th>
			<th>État</th>
			<th>Version</th>
			<th>Commentaire</th>
		</thead>
		<tbody>
			{% for d in documents %}

				<tr>
					<td>{{ d.rubrique }}</td>
					<td>{{ d.titre }}</td>
					<td>{{ d.description }}</td>
					{% if d.etat == 2 	%}
						<td>
							Déposer votre document
							<form method="post" action="{{ path('document_upload', { 'document_id': d.id }) }}" enctype="multipart/form-data">
								<input type="file" name="file" required>
								<input type="submit" value="Déposer">
							</form>
						</td>
					{% elseif d.etat == 3 %}
						<td>
							Document en cours d'étude
							<form method="post" action="{{ path('document_upload', { 'document_id': d.id }) }}" enctype="multipart/form-data">
								<input type="file" name="file" required>
								<input type="submit" value="Déposer">
							</form>
						</td>
					{% else %}
						<td>Télécharger</td>
					{% endif %}
					<td><a class="download-link" href="{{ path('document_download', { 'filename': d.path }) }}" target="_blank">V{{ d.version }}</a></td>
					<td>Commenter</td>
				</tr>

			{% else %}

				<tr>
					<td></td>
				</tr>

			{% endfor %}
		</tbody>
	</table>

{% endblock %}

{% block javascripts %}

<script>
	var downloadLinks = document.getElementsByClassName('download-link');
	[].forEach.call(downloadLinks, function(link) {
		link.addEventListener("click", function(e) {
			setTimeout(function() {
				window.location.reload();
			}, 1000)
		}, false);
	})
</script>

{% endblock %}